body {
    margin: 0;
    padding: 0;
    background: url('https://res.cloudinary.com/dguxcqekj/image/upload/v1721734184/homepage-tile_sv4o6a.png') repeat fixed;
    font-family: 'Special Elite', sans-serif;
    color: #ffffff;
    text-align: center;
    overflow-x: hidden;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
    font-size: 2rem;
    visibility: hidden; /* Hidden initially */
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.main-image {
    max-width: 750px;
    width: 100%;
    margin-bottom: 30px;
}

.signUp {
    background-color: white;
    color: black;
    font-family: 'Special Elite', cursive;
    font-size: 2vh;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Blinking cursor styling */
.sentence {
    font-size: 1.8vh;
    margin: 0;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 1.8vh; /* Match the height of the sentence text */
    background-color: white;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.highlight {
    color: #ffffff;
    font-size: 2.5rem;
}

#actions {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
#actions button.solid, .signUp {
    background-color: white;
    color: black;
    font-family: 'Special Elite', cursive;
    font-size: 2vh;
    padding: 10px 20px 7px 20px;
    border: none;
    cursor: pointer;
}


#actions button.hollow {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Special Elite', cursive;
    font-size: 2vh;
    padding: 10px 20px 7px 20px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    cursor: pointer;
    text-decoration: none;
}
#actions a {
    color: white;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 2vh;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: underline;
}

#actions a.signUp{
    color: #000000;
}


/* Registration */ 

.registration-intro{
    margin-top: 35px;
}

.video-container {
    width: 100%;
    height: 90vh;
    padding: 2vh 0 0 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    object-fit: contain; /* Ensures video scales without stretching */
    z-index: 50;
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the thumbnail scales to match the video size */
}

.main-content-registration, .text-container-registration {
    height: auto;
    width: 100%;
    padding: 5vw;
    box-sizing: border-box;
}


/* General Styling */
#actions {
    text-align: center;
    margin-top: 60px;
}

.signUp {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 5px;
}

.signUp:hover {
    background-color: #ffffff;
}

/* Content Section Styling */


.content-section {
    text-align: left;
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.content-section h2 {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 8px;
    color: white;
    font-family: arial !important;
    font-weight: bold;
}

.content-section p {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
    font-family: arial !important;
}

/* Responsive YouTube Embed */
.content-section .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 20px;
}

.content-section .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Styling for Text Links and Headers */
h6 {
    font-size: 1rem;
    color: white;
    margin-top: 10px;
}

/* Success */ 

.content-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10% 5%;
}